.card {
  margin-top: 7px;
  margin-bottom: 7px;
  border-radius: 15px;
  min-height: 175px;
  min-width: 200px;
  background: #b0d298;
  text-wrap: nowrap;

  &.carousel {
    max-width: 300px;

    &.active {
      background-color: #3580ff;
    }
  }
}
