@import "../../common/scss/theme.scss";

.card {
  margin-top: 7px;
  margin-bottom: 15px;
  border-radius: 15px;
  min-width: 200px;
  background: $body-bg;
  border: $border-color solid;
  text-wrap: nowrap;

  &.carousel {
    max-width: 300px;

    &.contained {
      background-color: #006EFE;
    }

    &.outlined {
      border: 1px solid #181b2d;
    }
  }

  .ribbon {
    height: 100%;
    width: 15px;
    position: absolute;
    left: 0;
    top: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
  }
}

.card:nth-child(1n) .ribbon {
  background-color: #ED9A00;
}

.card:nth-child(2n) .ribbon  {
  background-color: #63b5ff;
}

.card:nth-child(3n) .ribbon  {
  background-color: #00AC3A;
}

.card:nth-child(4n) .outlined-ribbon  {
  background-color: #9440D5;
}

.card:nth-child(5n) .outlined-ribbon  {
  background-color: #00A995;
}