@font-face {
  font-family: 'geist';
  src:  url('./common/fonts/Geist-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
  src:  url('./common/fonts/Geist-Regular.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'geist-light';
  font-weight: 100;
  src:  url('./common/fonts/Geist-Light.ttf') format('truetype'); /* Safari, Android, iOS */
  src:  url('./common/fonts/Geist-Light.woff') format('woff'); /* Modern Browsers */
}

@font-face {
  font-family: 'geist-semibold';
  font-weight: 100;
  src:  url('./common/fonts/Geist-SemiBold.ttf') format('truetype'); /* Safari, Android, iOS */
  src:  url('./common/fonts/Geist-SemiBold.woff') format('woff'); /* Modern Browsers */
}


body {
  margin: 0;
  font-family: 'geist';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  'geist';
}
